.navbarhtml-btn {
    border-style: hidden;
    font-size: 12px;
}

.taglinehtml-body {
    height: 33vh;
    background-image: linear-gradient(to bottom, rgb(33, 37, 41),rgba(0, 0, 0, 0.575), rgba(206, 35, 35, 0));
}

img.taglineimg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}
