
<div class="container-fluid">
    <h3 class="mb-4">Nuestros Top Destinos</h3>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card border-0">
                <img class="card-img-top img-fluid" src="assets/img/Portfolio-img/paris.jpg" alt="Paris" style="height: 250px; object-fit: cover">
                <div class="card-body py-1 px-0">
                    <h5 class="card-title">Paris</h5>
                    <p class="card-text">La Ciudad de la Luz, es famosa por su encanto romántico, monumentos icónicos como la Torre Eiffel, arte de clase mundial en el Louvre y encantadores cafés que bordean sus históricas avenidas.</p>
                </div>
            </div>
        </div>

            <div class="col-12 col-lg-4">
            <div class="card border-0">
                <img class="card-img-top img-fluid" src="assets/img/Portfolio-img/cappadocia.jpg" alt="cappadocia" style="height: 250px; object-fit: cover">
                <div class="card-body py-1 px-0">
                    <h5 class="card-title">Cappadocia</h5>
                    <p class="card-text">Es un paisaje surrealista en el centro de Turquía, conocido por sus chimeneas de hadas, antiguas viviendas en cuevas y sus impresionantes paseos en globo aerostático sobre valles dramáticos.</p>
                </div>
            </div>
        </div>

            <div class="col-12 col-lg-4">
            <div class="card border-0">
                <img class="card-img-top img-fluid" src="assets/img/Portfolio-img/venecia1.jpg" alt="venice" style="height: 250px; object-fit: cover">
                <div class="card-body py-1 px-0">
                    <h5 class="card-title">Venecia</h5>
                    <p class="card-text">Es una ciudad única flotante en Italia, construida sobre canales y famosa por sus paseos en góndola, arquitectura renacentista y su atmósfera romántica.</p>
                </div>
            </div>
        </div>
        
    </div>
        <div class="row mt-5">
        <div class="col-12 col-lg-4">
            <div class="card border-0">
                <img class="card-img-top img-fluid" src="assets/img/Portfolio-img/bangkok.jpg" alt="bangkok" style="height: 250px; object-fit: cover">
                <div class="card-body py-1 px-0">
                    <h5 class="card-title">Bangkok</h5>
                    <p class="card-text">La vibrante capital de Tailandia, es conocida por sus templos ornamentados, mercados callejeros animados, cocina sabrosa y una vida nocturna bulliciosa a lo largo del río Chao Phraya.</p>
                </div>
            </div>
        </div>

            <div class="col-12 col-lg-4">
            <div class="card border-0">
                <img class="card-img-top img-fluid" src="assets/img/Portfolio-img/granada.jpg" alt="granada" style="height: 250px; object-fit: cover">
                <div class="card-body py-1 px-0">
                    <h5 class="card-title">Granada</h5>
                    <p class="card-text">Es una joya histórica del sur de España, famosa por el impresionante Palacio de la Alhambra, su rica herencia mora y sus encantadoras calles al pie de Sierra Nevada.</p>
                </div>
            </div>
        </div>

            <div class="col-12 col-lg-4">
            <div class="card border-0">
                <img class="card-img-top img-fluid" src="assets/img/Portfolio-img/egypt.jpg" alt="egypt" style="height: 250px; object-fit: cover">
                <div class="card-body py-1 px-0">
                    <h5 class="card-title">Egipto</h5>
                    <p class="card-text">Es una tierra de maravillas antiguas, hogar de las Grandes Pirámides de Giza, el río Nilo y una fascinante historia que abarca miles de años de civilización.</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
